

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

body {
  background-color: #004643;
  color: #eff0f3;
}

input[type="text"]{
  width: 300px;
  height: 30px;
  border: 1px solid #eff0f3;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

input[type="submit"]{
  width: 100px;
  height: 30px;
  border: 1px solid #eff0f3;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: #eff0f3;
  color: #004643;
  cursor: pointer;
}